---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props
const { origin } = Astro.url

function isExternal(url: typeof href) {
	if (!url) return false

	try {
		const u = new URL(url)
		if (u.protocol !== 'http:' && u.protocol !== 'https:') return true
		return origin !== u.origin
	} catch (e) {
		return false
	}
}
---

{
	isExternal(href) ? (
		<a href={href} target="_blank" {...props} class:list={[className, 'underline']} rel="noopener noreferrer">
			<slot />
		</a>
	) : (
		<a href={href} {...props} class={className}>
			<slot />
		</a>
	)
}

{/* <style> */}
{/* 	a[href^='mailto:']::after { */}
{/* 		content: ' 📧';  */}
{/* 	}  */}
{/* </style>  */}
